# App Assets
app-assets/*
app-assets/css/core
app-assets/css/pages
app-assets/css/plugins
!app-assets/css
app-assets/js/scripts
!app-assets/js

# Assets Pages
assets/*
!assets/js

# Config
!config/

# Config
!controller/

# DB
!db/

# Pages
pages/*
!pages/welcome.php

# SRC
src/

# index
!index.php