# Assets Sing in
app-assets/*
app-assets/css/core
app-assets/css/pages
app-assets/css/plugins
!app-assets/css

# Assets Pages
assets/*
!assets/js

# DB
!db/

# Config
!config/

# Pages
pages/

# SRC
src/

# index
!index.php